/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

/* простой двухколончный макет  */
body {
	color: #197600;
	font-family: "Cormorant Infant", serif;
	background: #BADB63 url(images/1.jpg) repeat-x;
	background-size: 50% 115px;
	max-width: 800px;
	margin: 0 auto;
}
.main {
	float: left;
	width: 70%;
	color: #0B3600;
}
.sidebar {
	margin-left: 75%;
	padding: 15px;
	background: #26B600;
	color: purple;
}
h1 {
	font-size: 3em;
	font-family:  "Cormorant Infant", serif;
	margin-bottom: 15 px;
}
h2 {
	font-size: 2.2em;
	color: #0B5200;
	margin-bottom: 5 px;
	
}
.main h2 {
	color: #1EA608;
	border-bottom: 2px #23FF00 solid;
	background: url(images/цветок.png) no-repeat;
	padding: 0 0 2px 80px;
}
/*
.sildebar * {
	margin-left: 75%;
	padding: 15 px;
	background: #FFFFFF;
}
*/ 
/* 
h1,h2 {
	font-size: 2.2em;
	color: pink;
}
*/
a {
	color:: green;
}
a:visited {
	color: #4AA329;
}
a:hover {
	color: orange;
	font-weight: bold;
	font-size: 1.4em;
	padding: 5px;
	background: blue;
	
}
/*
html body p {
	background: #FAFAFA;
}
html p {
	background: pink;
}
*/
.main p {
	color: #116B02;
	font-family: "Cormorant Infant", serif;
	font-size: 1.1em;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 80px;
	} 
.main .intro {
	color: #23FF00;
	font-family: "Cormorant Infant", serif;
	font-size: 1.2em;
	margin-left: 0;
	margin-bottom: 15px;
}
.sidebar h2
 {
	color: red;
}
#idl {
	color: blue; 
}